<header ng-controller="menuController">
        <a class="interfac header-back" ng-click="backButton()"></a>
        <h1 class="ui-title">Payment Info</h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <div ng-controller="editProfileController">
        <section class="midArea">
            <div class="detail_text detail_text3">
                <p class="terms">Your payment info has been updated successfully. </p>
                
                <a ui-sref="home.prodashboard"><h2 class="complete">Pay info saved. Continue.. </h2></a>
            </div>
        </section>
    <div>