<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Payment Info</h1>
    <!--a class="interface header-panel ui-link" ui-sref="home.settings"></a-->
</header>
<section class="midArea">
    <div class="form-horizontal ui-content" ng-controller="paymentoptionController" id="paymentoption_form">
        <div id="paymentOptionStatus" class="errorStatus"></div>
        
        <h4>Address to send your check</h4>
        <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label" id="fullname_label1">
                Full legal name
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fullname" placeholder="enter full legal name" ng-model="fullname" name="fullname" value="" autocapitalize="off" autocorrect="off">
                <span id="fullname_error1" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="address1" class="col-sm-3 control-label" id="address1_label">Street address line 1</label>
            <div class="col-sm-9">
                <input type="text" name = "address1" class="form-control" id="address1" placeholder="enter street address" ng-model="address1" value="" autocapitalize="off" autocorrect="off">
                <span id="address1_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="address2" class="col-sm-3 control-label" id="address2_label">Apt/address line 2 (optional)</label>
            <div class="col-sm-9">
                <input type="text" name = "address2" class="form-control" id="address2" placeholder="Apt/suite, etc (optional)" ng-model="address2" value="" autocapitalize="off" autocorrect="off">
                <span id="address2_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-3 control-label" id="city_label">City</label>
            <div class="col-sm-9">
                <input type="text" name = "city" class="form-control" id="city" placeholder="Enter City" ng-model="city" value="" autocapitalize="off" autocorrect="off">
                <span id="city_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="col-sm-3 control-label" id="state_label">State</label>
            <div class="col-sm-9 country">
                <select name="state" id="state" ng-model="state" class="selectpicker form-control country-code select-padding">
                    <option value="" selected="selected">(Select State)</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <div id="state_error" class="errorStatus"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="zipcode" class="col-sm-3 control-label" id="zipcode_label">Zip Code</label>
            <div class="col-sm-9">
                <input type="text" name = "zipcode" class="form-control" id="zipcode" placeholder="enter zipcode" ng-model="zipcode" value="" autocapitalize="off" autocorrect="off">
                <span id="zipcode_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="country" class="col-sm-3 control-label" id="country_label">Country</label>
            <div class="col-sm-9 country">
                <select name="country" id="country" ng-model="country" class="selectpicker form-control country-code select-padding">
                    <option value="">(Select Country)</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                </select>
                <div id="country_error" class="errorStatus"></div>
            </div>
        </div>

        <div class="form-group" id="checkbox_payment">
            <div class="col-sm-12">
                <div class="checkbox rememberBlock">
                    <input type="checkbox" id="output" name="output" ng-model="output" class="css-checkbox" value="N">

                    <label for="output" class="css-label lite-green-check" id="output_label">
                        Yes, I agree with payment terms and conditions outlined below.
                    </label>
                </div>
                <span id="output_error" class="errorStatus"></span>
            </div>
        </div>

        <div class="form-group">
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="paymentAddrSubmit()">Save payment info</button>
            </div>
        </div>
        <p class="terms">           
            Checks mailed every Friday except holidays by UPS.  Minimum earn amount of $20 required before check payment will be sent.
        </p>
    </div>
</section>

