<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">My earnings</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="statsController" class="earning stats">
	
	<div class="country countrySelect statsSelect">
        <select name="period_select" id="period_select" ng-model="period_select" class="selectpicker form-control country-code currPeriod" ng-options="period as period.value for period in currPeriodSelect" ng-change="currPeriodChange()">
        <!--select name="period_select" id="period_select" ng-model="period_select" class="selectpicker form-control country-code currPeriod" ng-change="currPeriodChange()"-->
            <!--option selected="selected" value="">Current period - 9/1 to 9/15/2014</option>
            <option data-hierarchy="false" value="ad">8/1 to 8/15/2014</option>
            <option data-hierarchy="false" value="ai">8/16 to 8/31/2014</option-->
        </select>
    </div>
	<div class="strip">
		
	</div>
    <ul>
    	<li>
    		<a href="javascript:;" class="earningActive">
    			<span class="period left">Total for period:</span>
    			<span class="date right">Today, {{date | date:'MM/dd'}}</span>
    			<span class="datenewblue left"><i id="selected_date_period">{{initial | date : 'MMM d'}} - {{final1 | date : 'MMM d, yyyy'}}</i></span>
    			<span class="blank right"><i>&nbsp;	</i></span>
    			<span class="price left">${{totalCurrCharge}}
                </span>
    			<span class="valuechange right"><b>${{totalTodayCharge}}</b></span>
    			<span class="clr"></span>
    		</a>
    	</li>
    	<li>
    		<a href="javascript:;">
    			<span class="period left unselect">Phone calls</span>
    			<span class="date right"></span>
    			<span class="datenew left">${{currCallCharge}} ({{stats.calls_currentperiod.call_count}} calls / {{callTime}} mins)</span>
    			<span class="blank right">{{stats.calls_today.call_count}} calls / {{stats.calls_today.call_secs}} mins</span>
    			<span class="price left"></span>
    			<span class="valuechange valuechangeGray right"><b>${{stats.calls_today.call_charge}}.00</b></span>
    			<span class="clr"></span>
    		</a>
    	</li>
    	<li>
    		<a href="javascript:;">
    			<span class="period left unselect">Messages</span>
    			<span class="date right"></span>
    			<span class="datenew left">${{stats.msg_currentperiod.msg_charge}} ({{stats.msg_currentperiod.msg_count}} msgs received)</span>
    			<span class="blank right">{{stats.msg_today.msg_count}} msgs</span>
    			<span class="price left"></span>
    			<span class="valuechange valuechangeGray right"><b>${{stats.msg_today.msg_charge}}</b></span>
    			<span class="clr"></span>
    		</a>
    	</li>
    	<li>
    		<a href="javascript:;">
    			<span class="period left unselect">Photo sales</span>
    			<span class="date right"></span>
    			<span class="datenew left">$50.00 (10 photos)</span>
    			<span class="blank right">2 photos</span>
    			<span class="price left"></span>
    			<span class="valuechange valuechangeGray right"><b>$10.00</b></span>
    			<span class="clr"></span>
    		</a>
    	</li>
    	
    </ul>
</div>
      
