<header class="text-messages" ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title" ng-click="popupLink()"> {{username}}</h1>
    <a href="javascript:;" data-rel="popup" class="interface header-options ui-link"></a>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="popupLink()"></a>
</header>
<div class="popup" ng-show="popupShow" data-role="popup" id="BMPopup" data-position-to="window">
    <p>&nbsp;</p>
    <ul>
        <li><a href="#/home/viewprofile{{user_id}}"><span class="glyphicon glyphicon-user"></span>View profile</a></li>
        <li id="user_block" ng-if="replyChats.isBlocked == true" class="blockedMessage"><span class="glyphicon glyphicon-ban-circle"></span>already blocked</li>
        <li id="user_block" ng-if="replyChats.isBlocked == false" ng-click="blockUser()"><span class="glyphicon glyphicon-ban-circle"></span>Block this user</li>
        <li ng-click="deleteHistory()"><span class="glyphicon glyphicon-remove" ></span>Delete chat history</li>
    </ul>    
</div>
<div class="popup1 msgImgPopup" ng-show="imgPopupShow" data-role="popup" id="imgPopup" data-position-to="window">
    <span ng-click="closeMsgPopup()">
        <img src="img/cross.png" class="crossPopup" />
    </span>
    <img src="img/photo_msg.jpg" class="msgImage" id="bigMsgImg"/>

</div>
<section class="text-msg" ng-controller="replyController">
    <div id="msg_container">
    </div>
    <!--div class="me">
        <p>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div>
    <div class="you">
        <p cla>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div> 
    <div class="me"><p>so how was the day</p><span>Tue,Aug 19,2014 9:06 AM</span></div>
    <div class="me">
        <p>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div>
    <div class="me">
        <p>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div>
    <div class="me">
        <p>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div>
    <div class="you">
        <p cla>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div> 
    <div class="you">
        <p cla>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div> 
    <div class="you">
        <p cla>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div> 
    <div class="you">
        <p cla>so how was the day</p>
        <span>Tue,Aug 19,2014 9:06 AM</span>
    </div--> 
   <div class="clr"></div> 
</section>
<div class="clr"></div>
<section class="midArea padding89" id="footer">
    <div class="form-horizontal ui-content footer">
        <div class="row">
            <a href="#/home/sendPhoto{{user_id}}"><div class="camera"></div></a>
            <div class="reply-text col-xs-9">
               <input autocorrect="off" autocapitalize="off" placeholder="type your message here" name="chat_entry" type="text" value="" ng-model="chatInput" id="input_chat">
            </div>
            <div class="col-xs-3 send-button margin0">
                <a href="javascript:;" class="btn btn-default fullwidth fullwidth_blue" id="send_message" ng-click="submitChat($event)">Send</a>
            </div>
            <div class="clr"></div>
        </div>
        <span id="availStatusCheck" class="errorStatus"></span>
    </div>
</section>