<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Accept terms</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="accepttermsController">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <h3>Please read/accept terms below..</h3>
            <h2 class="start1" ng-click="acceptTermsLink()">Yes, I read and understand terms</h2>

            <p class="terms">Insert a bunch of legal mumbo jumbo that no one reads until they really need to read it because that is the way it goes around here.   Insert a bunch of legal mumbo jumbo that no one reads until they really need to read it because that is the way it goes around here.    Insert a bunch of legal mumbo jumbo that no one reads until they really need to read it because that is the way it goes around here.    Insert a bunch of legal mumbo jumbo that no one reads until they really need to read it because that is the way it goes around here.    Insert a bunch of legal mumbo jumbo that no one reads until they really need to read it because that is the way it goes around here.</p>
            
        </div>
        
    </section>
</div>
     
      