<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Settings</h1>
</header>
<div ng-controller="settingsController">
    <section class="inner_action settingSec">
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ui-sref="home.affter_login"><span class="glyphicon glyphicon-home"></span>Home</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="statusAndAvail()"><span class="glyphicon glyphicon-plus"></span>Status & availability</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="editProfileLink()"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</button>
            </li>           
            <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-comment"></span>Notifications</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-wrench"></span>Privacy Settings</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-volume-up"></span>Voice mail greeting</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="blockingPage()"><span class="glyphicon glyphicon-ban-circle"></span>Blocking</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="resetPassword()"><span class="glyphicon glyphicon-refresh"></span>Reset Password</button>
            </li>
        </ul>
        <ul>
            <!--li>
                <button type="button" class="btn btn-default fullwidth"></span>Billing History</button>
            </li-->
            <li>
                <button type="button" class="btn btn-default fullwidth"></span>Account Settings</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="updateUpgrade()"></span>Update Payment method</button>
            </li>
        </ul>
         
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-exclamation-sign"></span>Help and Support</button>
            </li>     
        </ul>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>Sign out</button>
            </li>     
        </ul>
    </section>
    
    <!--div class="phpdebugbar-openhandler-overlay" style=""></div>
    <div class="ui-loader ui-corner-all ui-body-b ui-loader-verbose">
        <span class="ui-icon-loading">
        </span>
        <h1>Loading</h1>
    </div-->
</div>
      