<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">FAQs</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="accepttermsController">
    <section class="midArea">
        <div class="detail_text_faq">
            <li>FAQs</li>
        </div>
        <ul class="detail-faq">
            <li><strong>How long does approval take?</strong>  All calls and texts are routed 100% anonymously from your private number to your phone.</li>
            <li><strong>When will I receive my first check?</strong> Have a particular pricing structure in mind? We let you set you control your own rates..within reason ;). </li>
            <li><strong>Why do I need to provide photo ID?.</strong> By law we must verify you are over the age of 18 years old with a valid government issued ID.</li>
        </ul>
        <div class="detail_text">
            <a ui-sref="home.prodashboard"><h2 class="start">Go Back</h2></a>
            <p class="terms neither">Have a question? <a href="javascript:;" class="ui-link">Contact us</a></p>
        </div>
    </section>
</div>
 
  