<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">
        Contacts
    </h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="contactsController">
    <section class="inner_action settingSec">
    	<div class="result_line">
    		<!--p>sorted by recently added</p-->
    	</div>
    	<div style="clear:both;"></div>
    </section>
    <div class="no_msg" ng-show="noContactDiv">
        {{noContacts}} 
    </div>
    <div ng-repeat="contact in contacts">
        <section class="dashboard">
            <div class="contact" id="contact_{{contact.id}}">
                <a href="#/home/callerhistory{{contact.contact_user_id}}">
                    <div class="image">
                         <img ng-src="{{contact.profile_images.profile_image}}" alt="" style="height: 5.0em;">
                    </div>
                    <div class="text">
                        <h2>{{contact.displayname}}</h2>
                        <p>{{contact.profile_status}}</p>
                        <h6>{{contact.online_status}}</h6>
                    </div>
                </a>
                <div class="setting">
                    <a href="javascript:;" ng-click="openPopup(contact.id)"><span class="glyphicon glyphicon-cog "></span></a>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
            </div>
        </section>

        <section>
            <div class="popupContact" id="{{contact.id}}" style="display:none"> 
                <p>{{contact.displayname}}</p>
                <ul>
                    <li><a href="javascript:;"><span class="glyphicon glyphicon-earphone"></span>Call 01865 360070</a></li>
                    <li><a href="#/home/reply{{contact.contact_user_id}}"><span class="glyphicon glyphicon-envelope"></span>Send text</a></li>
                    <li ng-click="deleteContact(contact.contact_user_id,contact.id)"><a href="javascript:;" class="cancel"><span class="glyphicon glyphicon-remove"></span>Delete contact</a></li>
                    <li ng-click="cancelPopup(contact.id)"><a href="javascript:;" class="cancel">Cancel</a></li>
                </ul>
            </div> 
        </section>
    </div>
</div>


  