<div class="wrapper" ng-controller="pinMatchController">
    <header>
        <a class="interfac header-back" ui-sref="home.pinsent"></a>
        <h1 class="ui-title">
            Verify Mobile
        </h1>
        <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
    </header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <span id="pinMatch_status" class="errorStatus"></span>
            <div class="form-group">
                <label for="inputEmail6" class="col-sm-3 control-label" id="pin_label">
                     Enter 4 digit pin to verify Phone
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail6" name="pinnumber" ng-model="pinNumber">
                </div>
            </div>
            <span id="pin_error" class="errorStatus"></span>
            <p>
                In order to complete registration, you must enter the pin number that you received via sms. or start over again <a ui-sref="home.register">here</a>
            </p>
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="pinMatchAction()">
                        Verify Mobile
                    </button>
                </div>
            </div>
            
        </div>
    </section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>
