<div class="wrapper" ng-controller="forgotpwdController">
    <header>
        <a class="interfac header-back" ui-sref="home.login"></a>
        <h1 class="ui-title">
            Password Recovery
        </h1>
        <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
    </header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <span id="forgot_status" class="errorStatus"></span>
            <div class="form-group">
                <label for="inputEmail5" class="col-sm-3 control-label" id="phone_label">
                    Enter your registered mobile number
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="phonenumber" id="inputEmail5" placeholder="enter your mobile number" ng-model="mobileNumber">
                </div>
            </div>
            <span id="number_error" class="errorStatus"></span>
            <p>
                Enter your registered mobile number to recieve your password. 
            </p>

            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="forgotPwdAction()">
                        Send password
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>
