<header ng-controller="menuController">
    <!--a class="interfac header-back" href="login.html"></a-->
    <h1 class="ui-title">ringhop</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="dashBoardController">
    <div class="col-md-12 img_thumb imgPart">
        <a ui-sref="home.profileoptions" class="profileblock">
            <div class="row">
            <div class="col-xs-12 col-md-12 row">
                <p class="edit">edit Photo</p>
                <div class="thumb">
                    <img src="" class="img-responsive" alt="..." id="profile_pic" style="height: 5.9em; width: 7.5em;">
                </div>
                <div class="caption">
                    <h2 id="username"></h2>
                    <p class="location_status" id="user_loc"></p>
                    <p class="textaddresss" id="user_gender"></p>
                    <p class="textaddresss" id="user_location"></p>
                    <p class="btmtitle" id="usersStatus">  </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        </a>
        <div class="clr"></div>
    </div>
     <div class="clr"></div>
    <section class="inner_action after-login">
        <div ng-show="proSection">
            <a ui-sref="home.prosettings">
                <div class="gray_box">
                    <div class="prouser">
                         <small class="fleft">my private #</small>
                         <small class="fright">PRO settings</small>
                         <div class="clr"></div>   
                    </div>
                    <h2 id="pro_number"> </h2>
                    
                </div>
            </a>
        </div>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="chatLink()"><span class="glyphicon glyphicon-comment"></span>TXT messages</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="callLink()"><span class="glyphicon glyphicon-earphone"></span>Recent calls</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="contactsLink()"><span class="glyphicon glyphicon-star"></span>Contacts</button>
            </li>
            <!--li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-envelope"></span>Voice Mail</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-camera"></span>Photos</button>
            </li-->
        </ul>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="statusAndAvaillink()"><span class="glyphicon glyphicon-plus"></span>Status & availability</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="settingLink()"><span class="glyphicon glyphicon-cog"></span>Settings</button>
            </li> 
            <!--li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-star"></span>Contacts</button>
            </li-->
            
        </ul>
        
         <!--ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="settingLink()"><span class="glyphicon glyphicon-cog"></span>Settings</button>
            </li>           
        </ul-->
        <!--ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="searchLink()">
                    <span class="glyphicon glyphicon-search"></span>Search users
                </button>
            </li>     
        </ul-->
        
        <ul ng-show="upgradeDisplay">
            <li>
                <button type="button" class="btn btn-default fullwidth btn-success upgrade" ng-click="proUpgrade()">
                    upgrade to unlimited txt and voice
                </button>
                <!--span class="arrowright"></span-->

            </li>     
        </ul>
    </section>
    <section class="earn">
        <p id="pro_status">{{pro_status}} <a href="javascript:;" ng-click="proStatusLink()">{{learn_more}}</a></p>
        <p class="text-center">Ringhop © 2014</p>
    </section>
    <!--div class="phpdebugbar-openhandler-overlay" style=""></div>
    <div class="ui-loader ui-corner-all ui-body-b ui-loader-verbose">
        <span class="ui-icon-loading">
        </span>
        <h1>Loading</h1>
    </div-->
</div>
   