<div ng-controller="pinMatchFGController">
    <header>
        <a class="interfac header-back" ui-sref="home.forgotpassword"></a>
        <h1 class="ui-title">
            Verify Mobile
        </h1>
        <!--a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a-->
    </header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <span id="pinMatchFG_status" class="errorStatus"></span>
            <div class="form-group">
                <label class="col-sm-3 control-label" id="pin_send_status" >
                    <strong class="errorStatus">
                        Password reset pin sent to your phone.
                    </strong>
                </label>
                <label for="inputEmail7" class="col-sm-3 control-label" id="pinnumber_label">
                    Enter 4 digit pin to verify Phone
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail7" name="pinnumber" ng-model="pinNumber">
                </div>
            </div>
            <span id="pinFG_error" class="errorStatus"></span>
            <p>
                In order to complete registration, you must enter the pin number that you received via sms.
            </p>
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="pinMatchFGAction()">
                        Verify Mobile
                    </button>
                </div>
            </div>
            
        </div>
    </section>
</div>
<!-- <div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>
 -->