<div ng-controller="prodashboardController">
    <header>
        <a class="interfac header-back" ui-sref="home.affter_login"></a>
        <h1 class="ui-title">
            Get verified for Pro
        </h1>
        <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
    </header>
    <section class="midArea">
        <div class="detail_text">
            <h2>Verification Dashboard</h2>
            <p class="terms">
                Please complete each section below. Then allow one business day for approval.
            </p>
        </div>
    </section>
    <section class="inner_action dashboard padd_none">
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="verifyIdentity()" id="verify_identity_btn"><span id="verify_identity_span" class=""></span>Verify identity {{proidverifyData}}</button>
            </li>
          
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="paymentDetails()" id="payment_details_btn"><span id="payment_details_span" class=""></span>Payment details {{propayinfoData}}</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="accpetTerms()" id="accept_terms_btn"><span id="accept_terms_span" class=""></span>Accept terms {{protermsData}}</button>
            </li>
        </ul>
    </section>
    <section class="midArea padd_none">   
        <div class="detail_text detail_text2">
            <h3>About Ringhop Pro</h3>
            <a class="ui-link ui-link2" ui-sref="home.howitworks">How it works</a>
            <a class="ui-link ui-link2" ui-sref="home.faqs">FAQs</a>
            <a class="ui-link ui-link2" ui-sref="home.verification">Verification</a>

            <hr class="row_center"/>
            <p class="terms neither">Have a question? <a href="javascript:;" class="ui-link">Contact us</a></p>
        </div>
    </section>
</div>
     
  