<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">send photo</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="sendPhotoController">
    <section class="midAreaUpload">
        <!--div  class="errorStatus"></div-->
        <div id="uploadChat_id" class="col-sm-3 control-label">
            Send a photo message
        </div>
        <div class="col-sm-12" ng-show="div_visible">
            <button type="button" class="btn btn-default fullwidth uploadbtn" ng-click="uploadChatPhoto()">    
                <span class="glyphicon glyphicon-camera"></span>
                Take or upload photo
            </button>
            <p class="terms">
                You can send a photo message to this user by clicking the button above. Includes advanced option to set an image expiration time, etc.
            </p>
            
        </div>
        <div class="col-sm-12" ng-show="!div_visible" style="width:320px;">
            <button type="button" class="btn btn-default fullwidth"  ng-if="pro_data == true" ng-click="saveChatPic()" style="width:68%;float:left;" id="sendBtn">    
                <span class="glyphicon glyphicon-ok-circle"></span>
                Send photo              
            </button>
            <button type="button" class="btn btn-default fullwidth" ng-if="pro_data == false" ng-click="saveChatPic()" id="sendBtn">    
                <span class="glyphicon glyphicon-ok-circle"></span>
                Send photo              
            </button>

            <select class="selectpicker form-control country-code setratesCallSelect" name="media_price" id="media_price" ng-model="media_price" ng-if="pro_data == true" style="width:28%;float:right;">
                <option value="" selected="selected">Free</option>
                <option value="1">$1.00</option>
                <option value="2">$2.00</option>
                <option value="3">$3.00</option>
                <option value="4">$4.00</option>
                <option value="5">$5.00</option>
                <option value="6">$6.00</option>
                <option value="7">$7.00</option>
                <option value="8">$8.00</option>
                <option value="9">$9.00</option>
                <option value="10">$10.00</option>
            </select>
            <button type="button" class="btn btn-default fullwidth" ng-click="cancelUpload()" id="cancelBtn">   
                Cancel            
            </button>
            <img src="" id="chat_image" width="295" height="350"/>
        </div>
        <div class="overEdit" ng-show="takePhotoOpt" ng-click="cancelPhoto()"></div>
        <div class="editProfileImg" ng-show="takePhotoOpt">
            <ul>
                <li ng-click="takePhoto()"><a href="javascript:;">Take Photo</a></li>
                <li ng-click="photoLibrary()"><a href="javascript:;">Choose Existing</a></li>
            </ul>
            <ul class="cancel">
                <li ng-click="cancelPhoto()"><a href="javascript:;">Cancel</a></li>
            </ul>
        </div>
    </section>
</div>
      
      