<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title">edit profile</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="editProfileController">
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <div class="form-group" id="after_img_select" ng-show="image_available">
                <div class=" col-sm-12" >
                    <button type="button" class="btn btn-default fullwidth" ng-click="saveProfilePic()">    <span class="glyphicon glyphicon-ok-circle"></span>
                        Save profile photo              
                    </button>
                </div>
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth" ng-click="cancelUpload()">   
                        Cancel              
                    </button>
                </div>
                <div class=" col-sm-12">
                    <img src="" id="profile_image" style="display:none;" width="295" height="350"/>
                    <input type="hidden" value="" name="imageString" id="imageString"/>
                </div>
                <span id="upload_status" class="errorStatus"></span>
            </div>
            <div class="form-group" id="before_img_select" ng-show="!image_available">
                <div class="col-sm-3 control-label">
                    Change profile photo
                </div>
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth" ng-click="uploadPhoto()">    <span class="glyphicon glyphicon-camera"></span>
                        Take or upload photo
                    </button>
                </div>
                <div class=" col-sm-12" id="deleteBtn">
                    <button type="button" class="btn btn-default fullwidth" ng-click="deletePhoto()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete profile photo
                    </button>
                </div>
                <div class="col-sm-3 control-label">
                    Edit Profile
                </div>
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth" ng-click="setLocation()">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        Set location
                    </button>
                </div>
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth" ng-click="aboutMe()">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        About me
                    </button>
                </div>
            </div>
        </div>
        <div class="overEdit" ng-show="takePhotoOpt" ng-click="cancelPhoto()"></div>
        <div class="editProfileImg" ng-show="takePhotoOpt">
            <ul>
                <li ng-click="takePhoto()"><a href="javascript:;">Take Photo</a></li>
                <li ng-click="photoLibrary()"><a href="javascript:;">Choose Existing</a></li>
            </ul>
            <ul class="cancel">
                <li ng-click="cancelPhoto()"><a href="javascript:;">Cancel</a></li>
            </ul>
        </div>
    </section>
    
    <!--div class="phpdebugbar-openhandler-overlay" style=""></div>
    <div class="ui-loader ui-corner-all ui-body-b ui-loader-verbose">
        <span class="ui-icon-loading">
        </span>
        <h1>Loading</h1>
    </div-->
</div>
    