<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Manage Ringhop Pro</h1>
</header>
<div ng-controller="prosettingsController">
    <section class="inner_action detail_text4">
        <h3>Manage PRO settings</h3>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="setCall()"><span class="glyphicon glyphicon-plus"></span>Set Call / Text rates</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="viewEarning()"><span class="glyphicon glyphicon-plus"></span>View Earnings</button>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="promoteUrself()"><span class="glyphicon glyphicon-plus"></span>Promote yourself</button>
            </li>           
        </ul>
        
    </section>
</div>
    