<header ng-controller="menuController">
    <a class="interfac header-back" ui-sref="home.affter_login"></a>
    <h1 class="ui-title">Manage Profile</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="settingsController">
    <section class="inner_action settingSec">
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="statusAndAvail()"><span class="glyphicon glyphicon-plus"></span>Status & availability</button>
            </li>
            <li>
                <a href="#/home/viewprofile{{user_id}}">
                    <button type="button" class="btn btn-default fullwidth" ng-click="viewProfile()"><span class="glyphicon glyphicon-comment"></span>View Profile</button>
                </a>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="editProfileLink()"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</button>
            </li>           
        </ul>
        
    </section>
</div>
       