<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Purchase photo</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="paidphotoController">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <p class="terms">
                {{photoInfo.result_text}}
            </p>
            
            <h2 class="complete paidPhoto" ng-click="purchasePhoto()" style="background-color:{{photoInfo.button_color}}">{{photoInfo.button_text}}</h2>
        </div>
    </section>
</div>
 
  