<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">{{callerHistory.caller.displayname}}</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="callerhistoryController">
    <div class="col-md-12 img_thumb imgPart">
        <a ui-sref="home.profileoptions" class="profileblock">
            <div class="row">
            <div class="col-xs-12 col-md-12 row">
                <div class="thumb" ng-click="profileLink()">
                    <a href="#/home/viewprofile{{callerHistory.caller.id}}">
                        <img ng-src="{{callerHistory.profile_images.profile_image}}" class="img-responsive" alt="..." id="profile_pic" style="height: 5.5em; width: 7.5em;">
                    </a>
                </div>
                <div class="caption">
                    <h2 id="username">{{callerHistory.caller.displayname}}</h2>
                    <p class="textaddresss" id="user_gender" ng-if="callerHistory.caller.profile.gender == 'M'">Male</p>
                    <p class="textaddresss" id="user_gender" ng-if="callerHistory.caller.profile.gender == 'F'">Female</p>
                    <p class="textaddresss" id="user_location"></p>
                    <p class="btmtitle" id="usersStatus"> {{callerHistory.online_status}} </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        </a>
        <div class="clr"></div>
    </div>
     <div class="clr"></div>
    <section class="inner_action after-login">
        <ul>
           <li>
                <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-earphone"></span><span class="blueCallHistory">Call</span></button>
            </li>
            <li>
                <a href="#/home/reply{{callerHistory.caller.id}}">
                    <button type="button" class="btn btn-default fullwidth"><span class="glyphicon glyphicon-comment"></span><span class="blueCallHistory">Send message</span></button>
                </a>
            </li>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="addAsContact()"><span class="glyphicon glyphicon-star"></span><span class="blueCallHistory" id="alreadyContact">Add as contact</span></button>
            </li>
            
        </ul>
        <ul>
            <li>
                <button type="button" class="btn btn-default fullwidth" ng-click="blockUser()"><span class="glyphicon glyphicon-ban-circle"></span><span class="redCallHistory" id="alreadyBlocked">Block this user</span></button>
            </li>
        </ul>
    </section>
    <div class="earning earningNEW">
        <h3 class="headCall">Caller history</h3>
        <ul>
            <li ng-repeat="historyKey in callerHistory.usercallhistory">
                <a href="javascript:;" class="callHistory">
                    <span class="datenew left">{{historyKey.call_start}}</span>
                    <span class="blank left">{{(historyKey.call_estimated_duration/60).toFixed(1)}} mins</span>
                    <span class="valuechange valuechangeNEW right" ng-if="historyKey.call_type == 'normal'"><b>${{historyKey.call_total_amount}}</b></span>
                    <span class="valuechange valuechangeNEW right orangeBG" ng-if="historyKey.call_type == 'trialcall' && historyKey.call_total_amount == null"><b>$0</b></span>
                    <span class="valuechange valuechangeNEW right orangeBG" ng-if="historyKey.call_type == 'trialcall' && historyKey.call_total_amount != null"><b>${{historyKey.call_total_amount}}</b></span>
                    <span class="clr"></span>
                </a>
            </li>
        </ul>
    </div>
   
</div>

   