<div  class="wrapper" ng-controller="pinSentController">
	<header>
	    <a class="interfac header-back" ui-sref="home.register"></a>
	    <h1 class="ui-title">
	    	Mobile Number
	    </h1>
	    <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
		<!--a class="interface header-panel ui-link" href="#panel"></a-->
	</header>
	<section class="verifypin">
	   	<p class="terms terms-pin">
	   		We just sent a 4 digit PIN to your phone. Please Confirm your phone <a ui-sref="home.pinConfirm">Verify PIN</a>. or start over <a ui-sref="home.register">here</a>
	   	</p> 
	</section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>
