<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">verify identity</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="verifyidentityController">
    <section class="midAreaUpload">
        <div id="uploadVerify_id" class="errorStatus"></div>
        <div class="col-sm-12" ng-show="div_visible">
            
            <button type="button" class="btn btn-default fullwidth uploadbtn" ng-click="uploadVerifyPhoto()">    <span class="glyphicon glyphicon-camera"></span>
                Take or upload photo ID pic
            </button>
            <p class="terms">
                Take or upload a clear picture of your photo identification.  Valid forms of identification include: Drivers License, Passport, State ID card.  Make sure that your face and birthdate are clearly visible in the photo 
            </p>
            <h3 class="terms">example below</h3>
            <img src="img/id_example.png">
        </div>
        <div class="col-sm-12" ng-show="!div_visible">
            <button type="button" class="btn btn-default fullwidth" ng-click="saveVerifyPic()">    
                <span class="glyphicon glyphicon-ok-circle"></span>
                Yes, save photo ID              
            </button>
            <button type="button" class="btn btn-default fullwidth" ng-click="cancelUpload()">   
                Try again              
            </button>
            <img src="" id="verify_image" width="295" height="350"/>
        </div>
        <div class="overEdit" ng-show="takePhotoOpt" ng-click="cancelPhoto()"></div>
        <div class="editProfileImg" ng-show="takePhotoOpt">
            <ul>
                <li ng-click="takePhoto()"><a href="javascript:;">Take Photo</a></li>
                <li ng-click="photoLibrary()"><a href="javascript:;">Choose Existing</a></li>
            </ul>
            <ul class="cancel">
                <li ng-click="cancelPhoto()"><a href="javascript:;">Cancel</a></li>
            </ul>
        </div>
    </section>
</div>
      
      