<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Payment terms</h1>
    <!--a class="interface header-panel ui-link" href="javascript:;"></a-->
</header>
<div ng-controller="accepttermscompleteController">
    <section class="midArea">
        <div class="detail_text detail_text3">
            <p class="terms">You have accepted payment terms. </p>
            
            <h2 class="complete" ng-click="completeLink()">Terms accepted. Continue..</h2>
        </div>
        
    </section>
</div>
 
  