<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">
        Blocked Users
    </h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="blockedusersController">
    <section class="inner_action settingSec">
    	<div class="result_line">
    		<!--p>sorted by recently added</p-->
    	</div>
    	<div style="clear:both;"></div>
    </section>
    <div ng-repeat="blockUser in blockUsers">
        <section class="dashboard">
            <div class="contact" id="blockUser_{{blockUser.id}}">
                <a href="#/home/callerhistory{{blockUser.blocked_user_id}}">
                    <div class="image">
                         <img ng-src="{{blockUser.profile_images.profile_image}}" alt="" style="height: 5.0em;">
                    </div>
                    <div class="text">
                        <h2>{{blockUser.displayname}}</h2>
                        <p>{{blockUser.profile_status}}</p>
                        <h6>{{blockUser.online_status}}</h6>
                    </div>
                </a>
                <div class="setting">
                    <a href="javascript:;" ng-click="openPopup(blockUser.id)"><span class="glyphicon glyphicon-cog "></span></a>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
            </div>
        </section>

        <section>
            <div class="popupContact popupBlock" id="{{blockUser.id}}" style="display:none"> 
                <p>{{blockUser.displayname}}</p>
                <ul>
                    <li ng-click="unblockUser(blockUser.blocked_user_id,blockUser.id)"><a href="javascript:;"><span class="glyphicon glyphicon-ok"></span>Unblock user</a></li>
                    <li ng-click="cancelPopup(blockUser.id)"><a href="javascript:;" class="cancel">Cancel</a></li>
                </ul>
            </div> 
        </section>
    </div>
</div>


  