<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">Recent calls</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
    <!--a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a-->
</header>
<div ng-controller="recentCallController">    
    <section class="text-msg" id="recentcalls">
        <div class="first-text" ng-repeat="item in recentCalls">
            <a href="#/home/callerhistory{{item.originator}}">
                <div class="row">
                    <h5>{{item.displayname}} ({{item.callcount}})</h5>
                    <div class="text-left col-xs-8">
                        <p>
                            {{item.calltype}}
                        </p>
                    </div>
                    <div class="text-right col-xs-4">
                        <p>{{item.maxtime}}</p>
                        <span></span>
                    </div>
                </div> 
            </a>
        </div>
        <div class="no_msg" ng-show="noCallDiv">
            {{noCall}} 
        </div>
        <!--div class="first-text">
            <div class="row">
                <div class="text-left col-xs-8">
                    <h5>Susie Suxalot</h5>
                    <p>hey</p>
                </div>
                <div class="text-right col-xs-4">
                    <p>2014-06-19 12:25:22</p>
                </div>
            </div> 
        </div-->

    </section>
    <section class="midArea paginate" ng-show="paginateSection">
        <div class="form-horizontal ui-content">
            <div class="form-group">
                <div class=" col-xs-6 prev-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtnCall" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                        <span></span>
                        Prev
                    </button>
                </div>
                <div class=" col-xs-6 next-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtnCall" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                        Next
                        <span></span>
                    </button>
                </div>
            </div>
            <span class="errorStatus"></span>
           
        </div>
    </section>
</div>