<div class="wrapper" ng-controller="regFormController">
    <header>
        <a class="interfac header-back" ui-sref="home.login"></a>
        <h1 class="ui-title">Mobile Number</h1>
        <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
    </header>
    <section class="midArea">
        <div class="form-horizontal ui-content">
            <span id="server_status" class="errorStatus">{{serverMessage}}</span>
            <div class="form-group">
                <label for="country-code" class="col-sm-3 control-label">
                    Get started! My mobile phone country code
                </label>
                <div class="col-sm-9 country">
                    <!--span class="country1"></span-->
                    <select name="country_code" id="country_code" ng-model="countryCode" ng-options="country as country.value for country in contries" class="selectpicker form-control country-code">
                    </select>
                    
                </div>
            </div>
            <span id="stateSelect_status" class="errorStatus"></span>
            <div class="form-group">
                <label for="reg_phone_number" class="col-sm-3 control-label" id="reg_phone_label">
                    Enter your 10 digit mobile number
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reg_phone_number" name="phonenumber" placeholder="enter your mobile number" ng-model="phoneNumber">
                </div>
            </div>
            <span id="phone_status" class="errorStatus"></span>
            <p>
                In order to complete registration we must first confirm your mobile phone number.
            </p>
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="registerAction()">
                        Send confirmation PIN
                    </button>
                </div>
            </div>
            
        </div>
    </section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>