<div ui-view id="form-views">
    <div class="mainPage" id="home_div">
        <div class="midArea midAreanew">
            <h1 class="home-logo"><img src="img/logo2.png"/></h1>
            <h2 class="search">search connect share</h2>
        </div>
        <section class="midSectionbtm" ng-controller="loginBtnController">
            <div class="midAreanew midArea " >
                <!--div class="col-lg-9 welcometext">
                    <hr/>
                    <h2>Start talking and texting now.</h2>
                    <p>Ringhop is the best way to chat and talk anonymously from your smartphone. Get your own private number and route sms and calls directly to your phone, while protecting your privacy while. Have clients and looking to earn money? With Ringhop PRO you can begin earning money per-minute or per-sms in no time.  We give you all the tools you need to quickly setup and manage your own mobile business service.</p>
                </div-->
                <div class="col-lg-3">
                    <div class="col-lg-10">
                        <div id="home-links" class="login_btnGroup">
                            <ul class="list-group">
                                <li class="list-group-item item1" ng-click="login()">Login<span class="glyphicon glyphicon-chevron-right"></span></li>
                                <li class="list-group-item item2" ui-sref=".register">Create free account<span class="glyphicon glyphicon-chevron-right"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>  
<div class="phpdebugbar-openhandler-overlay" style="" id="overlay"></div>
<div class="ui-loader ui-corner-all ui-body-b ui-loader-verbose">
    <span class="ui-icon-loading">
    </span>
    <h1>Loading</h1>
</div>   

    