<header ng-controller="menuController">
    <a class="interfac header-back" ng-click="backButton()"></a>
    <h1 class="ui-title">
        Change Your Password
    </h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<section class="midArea">
    <div class="form-horizontal ui-content" ng-controller="changepwdController" id="changePasswdForm">
        <div id="changepwd_status" class="errorStatus"></div>
        <div class="form-group">
            <label for="oldpassword" class="col-sm-3 control-label" id="resetpwdold_label">
                Old Password    
            </label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="oldpassword" id="oldpassword" ng-model="oldpassword">
                
                <span id="resetpwdold_error" class="errorStatus"> </span>
            </div>
        </div>
        <div class="form-group">
            <label for="new_password" class="col-sm-3 control-label" id="resetpwd_label">
                New Password    
            </label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="password" id="new_password" ng-model="password">
                <span id="resetpwd_error" class="errorStatus"> </span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="con_resetpassword" class="col-sm-3 control-label" id="resetpwdcon_label">
                 Confirm Password    
            </label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="confirmpassword" id="con_resetpassword" ng-model="confirmpassword">
                
                <span id="resetpwdcon_error" class="errorStatus"> </span>
            </div>
        </div>
        
        
        <div class="form-group">
            <div class=" col-sm-12">
                <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="changePasswd()">
                    Reset password
                </button>
            </div>
        </div>
        
    </div>
</section>
