<div class="wrapper" ng-controller="regStepTwoController">
    <header>
        <a class="interfac header-back" ui-sref="home.pinConfirm"></a>
        <h1 class="ui-title">Register</h1>
        <a class="interface header-panel ui-link" href="javascript:;" ng-click="navAction()"></a>
    </header>
    <section class="midArea">
        <div name="userForm" class="form-horizontal ui-content" id="register_form2">
            <div id="register2Status" class="errorStatus"></div>
            
            <h4>Next step..create your account</h4>
            <div class="form-group">
                <label for="username_input" class="col-sm-3 control-label" id="username_label">
                    Username
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username_input" placeholder="Choose a username" ng-model="register_username" name="register_username" value="" autocapitalize="off" autocorrect="off" >
                    <span id="username_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="email_input" class="col-sm-3 control-label" id="email_label">Email address</label>
                <div class="col-sm-9">
                    <input type="email" name = "register_email" class="form-control" id="email_input" placeholder="Email" ng-model="register_email" value="">
                    <span id="email_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="regPassword7" class="col-sm-3 control-label" id="password2_label">Choose password</label>
                <div class="col-sm-9">
                    <input type="text" name = "register_password" class="form-control" id="regPassword7" placeholder="At least 6 characters" ng-model="register_password" value="">
                    <span id="password2_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="regGender7" class="col-sm-3 control-label" id="gender_label">Gender</label>
                <div class="col-sm-9">
                    <select name="register_gender" id="regGender7" ng-model="register_gender" class="selectpicker form-control">
                        <option selected="selected" value="">I am a..</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span id="gender_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group" id="checkbox_reg2">
                <div class="col-sm-12">
                    <div class="checkbox rememberBlock">
                        <input type="checkbox" id="agreement" name="register_optout" ng-model="agreement"  class="css-checkbox" value="0">

                        <label for="agreement" class="css-label lite-green-check" id="terms_label">
                            I confirm that I am at least 18 years of age and agree with terms and privacy policy.
                        </label>
                    </div>
                    <span id="terms_error" class="errorStatus"></span>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-sm-12">
                    <button type="button" class="btn btn-default fullwidth fullwidth_blue" ng-click="registerSubmit()">Register</button>
                </div>
            </div>
            <p class="terms">By registering you accept the our Terms of Use and Privacy and agree that we and our selected partners may contact you with relevant offers and services. You may unsubscribe or update your preferences at any time in Ringhop.</p>
        </div>
    </section>
</div>
<div id="sidebar-wrapper" class="side-menu" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home">
                Home
            </a>
        </li>
        <li class="ring">
            <a href="javascript:;">RINGHOP</a>
        </li>
        <li>
            <a ui-sref="home.howitworks">How it works</a>
        </li>
        <li>
            <a href="javascript:;">Overview</a>
        </li>
        <li class="ring">
            <a href="javascript:;">ACCOUNT</a>
        </li>
        <li>
            <a href="javascript:;">Support</a>
        </li>
        <li>
            <a ui-sref="home.register">Create account</a>
        </li>
        <li>
            <a ui-sref="home.login">Sign in</a>
        </li>
    </ul>
</div>