<header ng-controller="menuController">
    <a class="interfac header-back"  ng-click="backButton()"></a>
    <h1 class="ui-title">Text messages</h1>
    <a class="interface header-panel ui-link" href="javascript:;" ng-click="leftMenu()"></a>
</header>
<div ng-controller="recentMessageController">
    <div class="col-sm-6 button_select" ng-show="messageOptions">
        <button type="button" class="btn btn-default buttonMessage fullwidth_blue" id="billable_user" ng-click="billableUser()">Billable Users</button>
        <button type="button" class="btn btn-default buttonMessage fullwidth_white" id="trial_user" ng-click="trialUser()">Trial Users</button>
    </div>
    <section class="text-msg">
        <div class="first-text" ng-repeat="item in recentChats">
            <a href="#/home/reply{{item.originator_id}}">
                <div class="row">
                    <h5>{{item.displayname}}</h5>
                    <div class="text-left col-xs-8">
                        <p>
                            {{item.msg}}
                        </p>
                    </div>
                    <div class="text-right col-xs-4">
                        <p>{{item.maxtime}}</p>
                        <span></span>
                    </div>
                    <input type="hidden" id="message_id_{{item.id}}" value="{{item.originator_id}}"/>
                </div> 
            </a>
        </div>
        <div class="no_msg" ng-show="noMessageDiv">
            {{noMessage}} 
        </div>
        <!--div class="first-text">
            <div class="row">
                <div class="text-left col-xs-8">
                    <h5>Susie Suxalot</h5>
                    <p>hey</p>
                </div>
                <div class="text-right col-xs-4">
                    <p>2014-06-19 12:25:22</p>
                </div>
            </div> 
        </div-->

    </section>
    <section class="midArea paginate" ng-show="paginateSection">
        <div class="form-horizontal ui-content">
            <div class="form-group">
                <div class="col-xs-6 prev-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue prev" id="prevBtn" ng-disabled='prevDisabled' ng-click="prevBtn()" ng-model="prevDisabled">
                        <span></span>
                        Prev
                    </button>
                    <span></span>
                </div>
                <div class=" col-xs-6 next-arrow">
                    <button class="btn btn-default fullwidth fullwidth_blue next" id="nextBtn" ng-disabled='nextDisabled' ng-click="nextBtn()" ng-model="nextDisabled">
                        <span></span>
                        Next
                    </button>
                </div>
            </div>
            <span class="errorStatus"></span>
        </div>
    </section>
</div>
        