<header ng-controller="menuController">
    <a class="interfac header-back" ui-sref="home.affter_login"></a>
    <h1 class="ui-title">Upgrade Account</h1>
    <a class="interface header-panel ui-link" ui-sref="home.settings"></a>
</header>
<section class="midArea">
    <div class="form-horizontal ui-content" ng-controller="proUpgradeController" id="proUpgrade_form">
        <!--form action="#/home/upgrade" class="validate" name="upgrade" id="payment-form"-->
            <div id="upgradeStatus" class="errorStatus payment-errors"></div>
            
            <h4>Upgrade FREE today. $0 charge.</h4>
            <div class="form-group">
                <label for="register_fullname" class="col-sm-3 control-label" id="fullname_label">
                    Name on card
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="register_fullname" placeholder="full name on card" ng-model="full_name" name="full_name" value="">
                    <span id="fullname_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="register_cardnumber" class="col-sm-3 control-label" id="cardnumber_label">Credit card - Visa or Mastercard</label>
                <div class="col-sm-9">
                    <input type="text" name = "card_number" class="form-control card-number" id="register_cardnumber" placeholder="credit card number" ng-model="card_number" value="">
                    <span id="cardnumber_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="register_expiremonth" class="col-sm-3 control-label" id="expiremonth_label">Expiration month</label>
                <div class="col-sm-9">
                    <select id="register_expiremonth" name="expire_month" ng-model="expire_month" class=" form-control country-code currPeriod card-expiry-month">
                        <option selected="selected" value="">expire month..</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div id="expiremonth_error" class="errorStatus"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="register_expireyear" class="col-sm-3 control-label" id="expireyear_label">Expiration year</label>
                <div class="col-sm-9">
                    <select name="expire_year" id="register_expireyear" ng-model="expire_year" class=" form-control country-code card-expiry-year">
                        <option selected="selected" value="">expire year..</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                    <div id="expireyear_error" class="errorStatus"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="register_cvv2" class="col-sm-3 control-label" id="cvv2_label">3 digit security code</label>
                <div class="col-sm-9">
                    <input type="text" name = "cvv_number" class="form-control card-cvc" id="register_cvv2" placeholder="3 digit code" ng-model="cvv_number" value="">
                    <span id="cvv2_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="upgrade_country" class="col-sm-3 control-label" id="upgrade_country_label">Country</label>
                <div class="col-sm-9">
                    <select name="country" id="upgrade_country" ng-model="country" class="form-control country-code">
                        <!--option value="">-------------------------</option-->
                        <option value="">(Select Country)</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="AF">AFGHANISTAN</option>
                        <option value="AX">ÅLAND ISLANDS</option>
                        <option value="DZ">ALGERIA</option>
                        <option value="AS">AMERICAN SAMOA</option>
                        <option value="AD">ANDORRA</option>
                        <option value="AO">ANGOLA</option>
                        <option value="AI">ANGUILLA</option>
                        <option value="AQ">ANTARCTICA</option>
                        <option value="AG">ANTIGUA AND BARBUDA</option>
                        <option value="AR">ARGENTINA</option>
                        <option value="AM">ARMENIA</option>
                        <option value="AW">ARUBA</option>
                        <option value="AU">AUSTRALIA</option>
                        <option value="AT">AUSTRIA</option>
                        <option value="AZ">AZERBAIJAN</option>
                        <option value="BS">BAHAMAS</option>
                        <option value="BH">BAHRAIN</option>
                        <option value="BD">BANGLADESH</option>
                        <option value="BB">BARBADOS</option>
                        <option value="BE">BELGIUM</option>
                        <option value="BZ">BELIZE</option>
                        <option value="BJ">BENIN</option>
                        <option value="BM">BERMUDA</option>
                        <option value="BT">BHUTAN</option>
                        <option value="BO">BOLIVIA</option>
                        <option value="BW">BOTSWANA</option>
                        <option value="BV">BOUVET ISLAND</option>
                        <option value="BR">BRASIL</option>
                        <option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
                        <option value="BN">BRUNEI DARUSSALAM</option>
                        <option value="BF">BURKINA FASO</option>
                        <option value="BI">BURUNDI</option>
                        <option value="KH">CAMBODIA</option>
                        <option value="CM">CAMEROON</option>
                        <option value="CA">CANADA</option>
                        <option value="CV">CAPE VERDE</option>
                        <option value="KY">CAYMAN ISLANDS</option>
                        <option value="CF">CENTRAL AFRICAN REPUBLIC</option>
                        <option value="TD">CHAD</option>
                        <option value="CL">CHILE</option>
                        <option value="CN">CHINA</option>
                        <option value="CX">CHRISTMAS ISLAND</option>
                        <option value="CC">COCOS (KEELING) ISLANDS</option>
                        <option value="CO">COLOMBIA</option>
                        <option value="KM">COMOROS</option>
                        <option value="CG">CONGO</option>
                        <option value="CK">COOK ISLANDS</option>
                        <option value="CR">COSTA RICA</option>
                        <option value="CW">CURAÇAO</option>
                        <option value="CY">CYPRUS</option>
                        <option value="CZ">CZECH REPUBLIC</option>
                        <option value="DK">DENMARK</option>
                        <option value="DJ">DJIBOUTI</option>
                        <option value="DM">DOMINICA</option>
                        <option value="DO">DOMINICAN REPUBLIC</option>
                        <option value="EC">ECUADOR</option>
                        <option value="EG">EGYPT</option>
                        <option value="SV">EL SALVADOR</option>
                        <option value="GQ">EQUATORIAL GUINEA</option>
                        <option value="ER">ERITREA</option>
                        <option value="EE">ESTONIA</option>
                        <option value="ET">ETHIOPIA</option>
                        <option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
                        <option value="FO">FAROE ISLANDS</option>
                        <option value="FJ">FIJI</option>
                        <option value="FI">FINLAND</option>
                        <option value="FR">FRANCE</option>
                        <option value="GF">FRENCH GUIANA</option>
                        <option value="PF">FRENCH POLYNESIA</option>
                        <option value="TF">FRENCH SOUTHERN TERRITORIES</option>
                        <option value="GA">GABON</option>
                        <option value="GM">GAMBIA</option>
                        <option value="GE">GEORGIA</option>
                        <option value="DE">GERMANY</option>
                        <option value="GH">GHANA</option>
                        <option value="GI">GIBRALTAR</option>
                        <option value="GR">GREECE</option>
                        <option value="GL">GREENLAND</option>
                        <option value="GD">GRENADA</option>
                        <option value="GP">GUADELOUPE</option>
                        <option value="GU">GUAM</option>
                        <option value="GT">GUATEMALA</option>
                        <option value="GG">GUERNSEY</option>
                        <option value="GN">GUINEA</option>
                        <option value="GW">GUINEA-BISSAU</option>
                        <option value="GY">GUYANA</option>
                        <option value="HT">HAITI</option>
                        <option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
                        <option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
                        <option value="HN">HONDURAS</option>
                        <option value="HK">HONG KONG</option>
                        <option value="HU">HUNGARY</option>
                        <option value="IS">ICELAND</option>
                        <option value="IN">INDIA</option>
                        <option value="ID">INDONESIA</option>
                        <option value="IE">IRELAND</option>
                        <option value="IM">ISLE OF MAN</option>
                        <option value="IL">ISRAEL</option>
                        <option value="IT">ITALY</option>
                        <option value="JM">JAMAICA</option>
                        <option value="JP">JAPAN</option>
                        <option value="JE">JERSEY</option>
                        <option value="JO">JORDAN</option>
                        <option value="KZ">KAZAKHSTAN</option>
                        <option value="KE">KENYA</option>
                        <option value="KI">KIRIBATI</option>
                        <option value="KR">KOREA, REPUBLIC OF</option>
                        <option value="KW">KUWAIT</option>
                        <option value="KG">KYRGYZSTAN</option>
                        <option value="LA">LAO PEOPLES DEMOCRATIC REPUBLIC</option>
                        <option value="LV">LATVIA</option>
                        <option value="LS">LESOTHO</option>
                        <option value="LY">LIBYA</option>
                        <option value="LI">LIECHTENSTEIN</option>
                        <option value="LT">LITHUANIA</option>
                        <option value="LU">LUXEMBOURG</option>
                        <option value="MO">MACAO</option>
                        <option value="MG">MADAGASCAR</option>
                        <option value="MW">MALAWI</option>
                        <option value="MY">MALAYSIA</option>
                        <option value="MV">MALDIVES</option>
                        <option value="ML">MALI</option>
                        <option value="MT">MALTA</option>
                        <option value="MH">MARSHALL ISLANDS</option>
                        <option value="MQ">MARTINIQUE</option>
                        <option value="MR">MAURITANIA</option>
                        <option value="MU">MAURITIUS</option>
                        <option value="YT">MAYOTTE</option>
                        <option value="MX">MEXICO</option>
                        <option value="FM">MICRONESIA, FEDERATED STATES OF</option>
                        <option value="MC">MONACO</option>
                        <option value="MN">MONGOLIA</option>
                        <option value="MS">MONTSERRAT</option>
                        <option value="MA">MOROCCO</option>
                        <option value="MZ">MOZAMBIQUE</option>
                        <option value="NA">NAMIBIA</option>
                        <option value="NR">NAURU</option>
                        <option value="NP">NEPAL</option>
                        <option value="NL">NETHERLANDS</option>
                        <option value="NC">NEW CALEDONIA</option>
                        <option value="NZ">NEW ZEALAND</option>
                        <option value="NI">NICARAGUA</option>
                        <option value="NE">NIGER</option>
                        <option value="NG">NIGERIA</option>
                        <option value="NU">NIUE</option>
                        <option value="NF">NORFOLK ISLAND</option>
                        <option value="MP">NORTHERN MARIANA ISLANDS</option>
                        <option value="NO">NORWAY</option>
                        <option value="OM">OMAN</option>
                        <option value="PK">PAKISTAN</option>
                        <option value="PW">PALAU</option>
                        <option value="PS">PALESTINIAN TERRITORY, OCCUPIED</option>
                        <option value="PA">PANAMA</option>
                        <option value="PG">PAPUA NEW GUINEA</option>
                        <option value="PY">PARAGUAY</option>
                        <option value="PE">PERU</option>
                        <option value="PH">PHILIPPINES</option>
                        <option value="PN">PITCAIRN</option>
                        <option value="PL">POLAND</option>
                        <option value="PT">PORTUGAL</option>
                        <option value="PR">PUERTO RICO</option>
                        <option value="QA">QATAR</option>
                        <option value="RE">RÉUNION</option>
                        <option value="RU">RUSSIAN FEDERATION</option>
                        <option value="RW">RWANDA</option>
                        <option value="BL">SAINT BARTHÉLEMY</option>
                        <option value="SH">SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>
                        <option value="KN">SAINT KITTS AND NEVIS</option>
                        <option value="LC">SAINT LUCIA</option>
                        <option value="MF">SAINT MARTIN (FRENCH PART)</option>
                        <option value="PM">SAINT PIERRE AND MIQUELON</option>
                        <option value="VC">SAINT VINCENT AND THE GRENADINES</option>
                        <option value="WS">SAMOA</option>
                        <option value="SM">SAN MARINO</option>
                        <option value="ST">SAO TOME AND PRINCIPE</option>
                        <option value="SA">SAUDI ARABIA</option>
                        <option value="SN">SENEGAL</option>
                        <option value="SC">SEYCHELLES</option>
                        <option value="SL">SIERRA LEONE</option>
                        <option value="SG">SINGAPORE</option>
                        <option value="SX">SINT MAARTEN (DUTCH PART)</option>
                        <option value="SK">SLOVAKIA</option>
                        <option value="SI">SLOVENIA</option>
                        <option value="SB">SOLOMON ISLANDS</option>
                        <option value="ZA">SOUTH AFRICA</option>
                        <option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                        <option value="SS">SOUTH SUDAN</option>
                        <option value="ES">SPAIN</option>
                        <option value="LK">SRI LANKA</option>
                        <option value="SR">SURINAME</option>
                        <option value="SJ">SVALBARD AND JAN MAYEN</option>
                        <option value="SZ">SWAZILAND</option>
                        <option value="SE">SWEDEN</option>
                        <option value="CH">SWITZERLAND</option>
                        <option value="TW">TAIWAN, PROVINCE OF CHINA</option>
                        <option value="TJ">TAJIKISTAN</option>
                        <option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
                        <option value="TH">THAILAND</option>
                        <option value="TL">TIMOR-LESTE</option>
                        <option value="TG">TOGO</option>
                        <option value="TK">TOKELAU</option>
                        <option value="TO">TONGA</option>
                        <option value="TT">TRINIDAD AND TOBAGO</option>
                        <option value="TN">TUNISIA</option>
                        <option value="TR">TURKEY</option>
                        <option value="TM">TURKMENISTAN</option>
                        <option value="TC">TURKS AND CAICOS ISLANDS</option>
                        <option value="TV">TUVALU</option>
                        <option value="UG">UGANDA</option>
                        <option value="UA">UKRAINE</option>
                        <option value="AE">UNITED ARAB EMIRATES</option>
                        <option value="GB">UNITED KINGDOM</option>
                        <option value="US">UNITED STATES</option>
                        <option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
                        <option value="UY">URUGUAY</option>
                        <option value="UZ">UZBEKISTAN</option>
                        <option value="VU">VANUATU</option>
                        <option value="VE">VENEZUELA, BOLIVARIAN REPUBLIC OF</option>
                        <option value="VN">VIET NAM</option>
                        <option value="VG">VIRGIN ISLANDS, BRITISH</option>
                        <option value="VI">VIRGIN ISLANDS, U.S.</option>
                        <option value="WF">WALLIS AND FUTUNA</option>
                        <option value="EH">WESTERN SAHARA</option>
                        <option value="YE">YEMEN</option>
                        <option value="ZM">ZAMBIA</option>
                    </select>
                    <div id="upgrade_country_error" class="errorStatus"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="upgrade_zipcode" class="col-sm-3 control-label" id="upgrade_zipcode_label">Zip Code</label>
                <div class="col-sm-9">
                    <input type="text" name = "zipcode" class="form-control" id="upgrade_zipcode" placeholder="enter zipcode" ng-model="zipcode" value="">
                    <span id="upgrade_zipcode_error" class="errorStatus"></span>
                </div>
            </div>

            <div class="form-group">
                <div class=" col-sm-12">
                     <button type="button" class="btn btn-default fullwidth fullwidth_blue submit-button" ng-click="upgradeSubmit()">Upgrade now for FREE </button>
                </div>
            </div>
            <p class="terms">           
                There is no charge for upgrading. We simply need to verify your card. Please note your card will be kept on file should you decide to make any premium calls to other members in the future.  You may see a small verification charge on your account that will refund in 2 - 5 business days. Thank you for choosing Ringhop.          
            </p>
        <!-- </form> -->
    </div>
</section>
