body { background: #e9e9e9; text-transform: none; font-family: sans-serif;}
.homebg{background: #e9e9e9;}
.clr {clear: both}
.mainPage {background: #5c1862;}
.home-logo { width: 219px; margin:30px 0 0;}
.midArea { width: 98%; margin:0 auto; padding-top:43px; }
.inner_action ,.img_thumb{ padding-top:55px; }
.settingSec{ padding-top: 42px!important; }
.form-horizontal .control-label {text-align: left; font-weight: normal;font-size:14px;}
.fullwidth ,.fullwidth:hover {width: 100%; display: block; margin-bottom: 15px; font-weight: bold; font-size: 16px; padding: 0.7em 1em; background: none repeat scroll 0 0 #fff; border-color: #dedede;
color: #333;text-shadow: 0 1px 0 #f3f3f3;}
.fullwidth_blue ,.fullwidth_blue:hover{background: none repeat scroll 0 0 rgba(92, 24, 98, 1); border-color: rgba(92, 24, 98, 1); color: #fff; text-shadow:none;}
.form-control {height: 38px; padding: 7px 12px; border-radius: 0.6em;}
.ui-title { width: 71%; display: block;font-size: 16px;margin: 0 40px;min-height: 1.1em; outline: 0 none !important; overflow: hidden; padding: 0.3em 0; color: #fff; font-weight: bold; text-align: center; text-overflow: ellipsis;}
header {background: #5c1862; margin-bottom: 25px; padding:8px 0; position: absolute; width: 100%; z-index: 999;}   
.header-back ,.header-panel{display: block; height: 40px; position: absolute; top: 0; width: 40px;  background-position: -52px -3px;}
.header-back {background-image: url("../img/interface.png"); background-repeat: no-repeat; background-size: 240px 96px;}
.header-panel {background-image: url("../img/interface.png"); background-repeat: no-repeat; background-size: 240px 96px; background-position: -148px -3px;right: 3px;}
.interface {
  background-image: url("../img/interface.png");
  background-repeat: no-repeat;
  background-size: 240px 96px;
}
.header-share {
  right: 45px;
  background-position: -197px 0px;
}
.rememberBlock {background: none repeat scroll 0 0 #fff; border-color: #dedede;color: #333;display: block; font-size: 16px;font-weight: bold;margin-bottom: 15px;padding: 0.7em 1em; text-shadow: 0 1px 0 #f3f3f3;width: 100%;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075); border-radius: 4px;   line-height: 1.42857; font-weight: bold}
.radio label, .checkbox label {font-weight: bold; font-size: 16px;}
.inner_action ul {padding: 0}
.inner_action ul li {width: 100%}
.inner_action ul li button {width: 100%; text-align: left;}
.inner_action ul li .fullwidth {margin-bottom: 0px; border-radius: 0px;}
.glyphicon {margin-right: 15px;}
.inner_action ul li .btn-success { background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%); background-repeat: repeat-x;border-color: #3e8f3e;color: #fff;text-shadow: none;border-radius: 0px;}
.inner_action ul {margin-bottom:45px;}
.img_thumb {margin: 0 auto; float: none;}
.img_thumb .thumbnail {background:#eeeeee; border-radius: 0px; box-shadow: 0px;}
.caption {width:100%; display: table; bottom: 0px; left: 0px; padding:0 0 0 5%; left: 5%}
.caption h2 {font-size: 97%; font-weight: bold; margin-bottom: 5px!important;}
.caption p.btmtitle {color:#999; font-size: 11px; text-align: right; margin-bottom: 5px; position: absolute;bottom: 0px; right: 0px}
.caption p {font-style: bold}
.edit {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);border-top-right-radius: 0.417em; color: #ccc; font-size: 0.688em; font-weight: normal; line-height: 100%; padding:4px 10px; position: absolute;text-transform: none;z-index: 990; left:11px; bottom: 0px; margin-bottom: 0px;}
.midAreanew {padding-top: 15px; margin: 0 auto; width: 95%}
.welcometext {color: #fff; }
.welcometext h2 {font-size: 22px; color:#fff;font-weight: normal; margin-bottom: 0;}
.welcometext p {font-size: 16px;opacity: 0.6;margin-top: 0;}
.welcometext hr {margin-top: 0px;opacity: 0.6;}
.login_btnGroup ul.list-group li.list-group-item {font-weight: bold; font-size: 15px;}
.login_btnGroup ul.list-group li.list-group-item a {color: #333333}
.login_btnGroup ul.list-group li.list-group-item a:hover {text-decoration: none;}
.login_btnGroup ul.list-group li.list-group-item .glyphicon {float: right; color:#cccccc}
.midSectionbtm {position: absolute; width: 100%; bottom: 10%; left: 0px}
.btn, .btn:hover {padding:8px 12px}
.prev,.prev:hover{background:#dedede; border-color:#dedede; color:#ACACAC;}
.next,.next:hover{background:#fff;border-color:#fff;color:#000;}
.text-msg{  position: relative;top: 42px; padding-bottom: 49px;}
.first-text{background: none repeat scroll 0 0 #FFFFFF;border-bottom: 1px solid #D2D2D2; padding: 9px 8px 11px; color: red;}
#recentcalls .row {color: black;}
.first-text h5{font-size: 16px;font-weight: bold;padding-left:33px;}
.text-right p{padding-top:14px;font-size:12px; padding-right: 40px;}
.text-left p{font-size:12px;}
.me{float:right;padding-right:15px;padding-bottom: 20px;border-bottom:1px solid #D4D4D4;width:100%;}
.you{float:left;clear:both;width:100%;background: #fff;padding-left:15px;padding-bottom:20px;border-bottom:1px solid #D4D4D4;}
.me p{font-size:17px; padding-top:10px;margin:0;text-align:right;}
.you p{font-size:17px; padding-top:10px;margin:0;}
.you span{font-size:12px;}
.me span{font-size:12px;float:right;padding-right:6px;}
.midArea .reply-text {margin-right: 15px;}
.midArea .reply-text input{  background: none repeat scroll 0 0 #2A2A2A;border-radius: 11px;color: #FFFFFF;padding: 9px;width: 100%; border:0px;}
.text-messages .header-panel{background-position: -106px -3px;margin-right:10px;}
.reply-text{margin-left:60px;width:68%;}
.text-right{float:right;}
.msg_list {padding-bottom:75px!important;}
.no_msg { background:#f3eed1;border: 1px solid #e19e43;color: #e2952b;font-weight: bold; margin: 25px 6px 0 6px;padding: 15px 0; text-align: center;}

h2, h3, h4 { font-size: 1.4em; font-weight: bold;margin-bottom: 18px !important; margin-top: 10px!important;}
.terms { color: #999999; font-size: 1em; }
h3.terms {font-size: 1.1em !important; color: #999999 !important; }
.ui-content {  border-width: 0; overflow-x: hidden; overflow-y: visible; padding: 1em;}
.text-msg .ui-content {background:rgba(247, 247, 247, 0.9);}
div.phpdebugbar-openhandler-overlay { background: none repeat scroll 0 0 #000000; height: 100%; left: 0; opacity: 0.3; position: fixed; top: 0; width: 100%; z-index: 9; display:none;}
.ui-loader-verbose { box-shadow: 0 1px 1px -1px #FFFFFF; height: auto; margin-left: -6.875em; margin-top: -2.6875em; opacity: 0.88; padding: 0.625em; width: 12.5em; }
.ui-loader { border: 0 none; display: none; left: 50%; position: fixed; top: 50%; z-index: 9999999; }
.ui-body-b{ background: none repeat scroll 0 0 #2A2A2A; border-color: #1D1D1D; color: #FFFFFF; text-shadow: 0 1px 0 #111111; }
.ui-corner-all {  border-radius: 0.6em; }
.ui-loader-verbose .ui-icon-loading { margin: 0 auto 0.625em; opacity: 0.75; }
.ui-loader .ui-icon-loading { background-color: #000000; border-radius: 2.25em; display: block; height: 2.75em; margin: 0 0 0 61px; padding: 0.0625em; width: 2.75em; }
.ui-icon-loading { background: url("../img/ajax-loader.gif") repeat scroll 0 0 / 2.875em 2.875em rgba(0, 0, 0, 0); }
.ui-loader h1 { display: block; }
.ui-loader-verbose h1 { font-size: 1em; margin: 0; text-align: center; }
.errorStatus { color: #FF0000 !important;}
.succesStatus{ color: green !important;}
.glyphicon { float:left;}
input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:18px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -18px;
}
.lite-green-check{background:url(../img/check.png);}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{ padding: 10px 10px 20px}

.camera{ background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2014%2011%22%20style%3D%22enable-background%3Anew%200%200%2014%2011%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2C1H9.908C9.702%2C0.419%2C9.152%2C0%2C8.5%2C0h-3C4.848%2C0%2C4.298%2C0.419%2C4.092%2C1H2C0.896%2C1%2C0%2C1.896%2C0%2C3v6c0%2C1.104%2C0.896%2C2%2C2%2C2h10%20c1.104%2C0%2C2-0.896%2C2-2V3C14%2C1.896%2C13.104%2C1%2C12%2C1z%20M7%2C9C5.343%2C9%2C4%2C7.657%2C4%2C6s1.343-3%2C3-3s3%2C1.343%2C3%2C3S8.657%2C9%2C7%2C9z%20M7%2C4%20C5.896%2C4%2C5%2C4.896%2C5%2C6s0.896%2C2%2C2%2C2s2-0.896%2C2-2S8.104%2C4%2C7%2C4z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E') 6px center no-repeat; width: 26px; height:26px;
 border-radius:22px;
 background-color:#adadad;
 float:left;
 margin: 6px 2px;
}
.text-left,.text-right{padding-left:33px;}
.wrapper{position:relative;z-index:999;background:#E9E9E9;/*min-height: 803px;*/}
.side-menu{position:absolute;right:0;top:0;width:280px;background:#000;/*bottom:0;*/}
.side-menu .sidebar-nav li a{color:#ccc;font-size:16px;}
.side-menu .sidebar-nav{list-style: none;padding:0;}
.side-menu .sidebar-nav li{background: #222;padding:12px; border-bottom: 1px solid #000000;}
.side-menu .sidebar-nav .ring{background:#000;padding-bottom: 3px;padding-top: 3px;}
.side-menu .sidebar-nav .ring a{font-size:12px;color:#fff;font-weight:bold;}
.next-arrow span{background: url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"8px"%20height%3D"12px"%20viewBox%3D"0%200%208%2012"%20style%3D"enable-background%3Anew%200%200%208%2012%3B"%20xml%3Aspace%3D"preserve"><polygon%20points%3D"2%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20"%2F><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><%2Fsvg>') no-repeat;width:8px;height:11px;position: absolute;bottom: 29px;right: 34px;}
.prev-arrow span{background: url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"8px"%20height%3D"12px"%20viewBox%3D"0%200%208%2012"%20style%3D"enable-background%3Anew%200%200%208%2012%3B"%20xml%3Aspace%3D"preserve"><polygon%20points%3D"8%2C2%206%2C0%200%2C6%206%2C12%208%2C10%204%2C6%20"%2F><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><%2Fsvg>') no-repeat;width:6px;height:11px;position: absolute;left: 31px;top: 14px;}
.text-right span{background: url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"8px"%20height%3D"12px"%20viewBox%3D"0%200%208%2012"%20style%3D"enable-background%3Anew%200%200%208%2012%3B"%20xml%3Aspace%3D"preserve"><polygon%20points%3D"2%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20"%2F><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><g><%2Fg><%2Fsvg>') no-repeat;width:8px;height:11px;position: absolute;bottom: 35px;right: 32px;}


@media screen and (min-width:220px) and (max-width:766px) {
.midSectionbtm {position: static;}
.home-logo {margin:30px auto 0;}
.welcometext {text-align: center;}
.midArea .search{text-align: center;}
}
@media screen and (min-width:1020px) and (max-width:1308px){
.reply-text{width:66%;}
}
@media screen and (min-width:768px) and (max-width:1020px){
.reply-text{width:63%;}
}
@media screen and (min-width:611px) and (max-width:768px){
.reply-text{width:60%;}
.text-right p{padding-right:0;}
}
@media screen and (min-width:435px) and (max-width:610px){
.reply-text{margin-left:0;}
.text-right p{padding-right:0;}
.text-right {padding-left:0;}
}
@media screen and (min-width:360px) and (max-width:434px){
.reply-text{margin-left:0;width:64%;} 
.text-left{width: 48.667%;}
.text-right p{padding-right:0;}
.text-right {padding-left:0;width: 51.333%;}
}
@media screen and (min-width:320px) and (max-width:359px){
.reply-text{margin-left:0;width:62% !important;}  
.send-button{width:27%; margin-left: -10px;}
.text-left{width: 48.667%;}
.text-right p{padding-right:8;}
.text-right {padding-left:0;width: 51.333%;}
.send-button .btn{padding:8px 9px;}
.send-button a{color: #fff !important;}
}
header .ui-title {
    background:none;
}
#home-links .item1{border-top-left-radius:12px;border-top-right-radius:12px;}
#home-links .item2{border-bottom-left-radius:12px;border-bottom-right-radius:12px;}
.midArea .search{ color: #FFFFFF;font-weight: 100;padding-left: 18px;}

/* ANIMATION STYLINGS
============================================================================= 
*/
/*#form-views{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  position: absolute;
  top: 0;
  width: 100%;
}


  #form-views.enable-animation.ng-enter,
#form-views.enable-animation.ng-leave {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: all 10s;
  z-index: 1;
}  

#form-views.enable-animation.ng-enter {
  left: -100%;
  opacity: 0;
}

#form-views.enable-animation.ng-enter.ng-enter-active,
#form-views.enable-animation.ng-leave {
  left: 0;
  opacity: 1;
}

#form-views.enable-animation.ng-leave.ng-leave-active {
  left: 100%;
  opacity: 0;
}

#form-views.ng-enter{ 
   transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
   transition:0.10s linear all;
    position:fixed;
    z-index:inherit;
    left:-100%;
    height:inherit;
    
}


#form-views.ng-leave{ 
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
    transition:0.10s linear all;
    position:fixed;
    z-index:9999;
    right:0;
}
#form-views.ng-leave-active{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition:0.10s linear all;
  position:fixed;
  right:-100%;
  left:100%;
}
#form-views.ng-enter-active{
  transition:0.10s linear all;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  left:0;
  position:fixed;
}*/



#form-views{
    top: 0; right: 0; bottom: 0; left: 0;
    /*transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
    position: absolute;
    width: 100%;
}

#form-views.enable-animation.ng-enter,
#form-views.enable-animation.ng-leave {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  z-index: 1;
}  

#form-views.ng-enter            { 

    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transition:0.10s linear all;
    position:fixed;
    z-index:inherit;
    left:-100%;
    height:inherit;
    
}

#form-views.ng-leave            { 
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
    transition:0.10s linear all;
    position:fixed;
    z-index:9999;
    right:0;
}
#form-views.ng-leave-active{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition:0.10s linear all;
  position:fixed;
  right:-100%;
  left:100%;
}
#form-views.ng-enter-active{
  transition:0.10s linear all;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  left:0;
  position:fixed;
}

/* ANIMATIONS
================================================================ 
*/


/*-------------------------08/09/2014----------------------------*/
.form-control .btn{background:#fff;font-size: 16px;font-weight: bold;}
.ui-content p{color:#9A9A9A;}
.midArea .search{ color: #FFFFFF;font-weight: 400;padding-left: 18px;}
.form-group{padding-bottom: 8px;}
.welcometext {color: #fff; }
.welcometext h2 {font-size: 22px; color:#fff;font-weight: normal; margin-bottom: 0;}
.welcometext p {font-size: 16px;opacity: 0.6;margin-top: 0;}
.welcometext hr {margin-top: 0px;opacity: 0.6;}
#home-links .item1{border-top-left-radius:12px;border-top-right-radius:12px;}
#home-links .item2{border-bottom-left-radius:12px;border-bottom-right-radius:12px;}
.country-code{font-weight:bold;font-size:16px;}
.country{ position: relative;}
.country1 {background: url("../img/drop.png") no-repeat; display: block;
    height: 22px;
    position: absolute;
    right: 24px;
    top: 8px;
    width: 22px;}
.country .bootstrap-select.btn-group .btn .caret{top:30%;}
.text-fields{padding-bottom: 2px;}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{ padding:10px;margin:10px 0;}
.signin .btn,.signin .btn:hover{margin-bottom:9px;}

/*-------------------------08/09/2014----------------------------*/
.country .btn-group,.country .btn-group button{ width: 100%; background: #fff; box-shadow: none; text-align: left}

.country .caret{top: 20%;right: 15px}

.country .dropdown-menu{ width: 100%}

.midArea .form-group .control-label{ color: #000}

.inner_action ul li .btn-success { background:#008000;font-size: 18px;border-color: #3e8f3e;color: #fff;text-shadow: none;border-radius: 0px;padding: 7px 50px 7px 14px;}
/*.after-login .fullwidth ,.fullwidth:hover{font-size: 16px;}*/
.inner_action ul {margin-bottom:35px;}
.earn p{color:#A9A9A9;text-align:center;}
.earn{padding-top:0;}
.earn .text-center{padding:10px 0;}
.verifypin{position: absolute;top:45px;}
.terms-pin{padding:30px 12px;text-align:justify;}
.terms-pin a{color:#007aff;}
.inner_action ul li  .arrowright{background:url("../img/right-arrow.png") no-repeat;height:11px;width:7px;position:absolute;bottom:15px;right:28px;}
.user-info{padding-top:46px;}
.caption span{background:url("../img/right-arrow.png") no-repeat;height:11px;width:7px;position:absolute;bottom: 26px;right: 47px;}
.usrname,.edituser{padding:0;}

a:hover, a:focus { text-decoration: none;}
#checkbox_reg2 .checkbox{
  min-height: 72px;
}
#checkbox_payment .checkbox{
  min-height: 67px;
}
.thumb {float: left; width: 40%;}
.caption  {float: left; width: 60%;}
.img_thumb {background:#FFFFFF}
.textaddresss {color:#999999;font-size: 13px; margin-bottom: 0px; line-height: 13px}
.location_status {font-size: 13px; margin-bottom: 0px; line-height: 13px}
.caption p {margin-top: 5px;}
.profileblock {display: block; background: url("../img/right-arrow.png") no-repeat scroll right 39px rgba(0, 0, 0, 0); color: #333333}
.profileblock:hover { color: #333333}
.resultBlock .row{ background:#FFFFFF;border: 1px solid #dedede;}
.available input[type=checkbox].css-checkbox + label.css-label {
  margin-bottom: 10px;
}
.detail_text {padding: 11px}
.detail_text p {font-size: 14px;}
.detail {padding-left: 30px;}
.detail-faq {padding-left: 47px;}
.detail_text_faq {padding: 0px 0 8px 15px}

.detail li, .detail-faq li, .detail_text_faq li,.detail-faq p {font-size: 15px; margin-bottom: 3px;}

.start {display: block; background:#007dfd; font-size: 15px; text-align: center; color: #fff; padding: 13px; border-radius: 5px; margin:0 15px;}
h2.start {margin-left: 0px; margin-right: 0px;} 
.dashboard ul li .glyphicon {color:#ccc}
.dashboard ul li .btn-default {color:blue;  font-weight: normal;}
.greenBlock {background:#008000}
.orangeBlock {background:#FFA500}
.redBlock {background:#FF0000}
.dashboard ul li .greenBlock, .dashboard ul li .orangeBlock, .dashboard ul li .redBlock{color:#000; text-shadow:none;}
.dashboard ul li .greenBlock .glyphicon, .dashboard ul li .orangeBlock .glyphicon, .dashboard ul li .redBlock .glyphicon {color:#000;}
.padd_none {padding: 0px!important}
.detail_text a.ui-link2 {color:#007AFF; display: block;margin-bottom: 15px}
.row_center {border-top: 1px solid #DEDEDE}
.detail_text a {color:#007AFF;}
.detail_text2 h3 {font-size: 14px; margin-top: 0px;}
.detail_text2 {padding-top: 0px}
.dashboard .greenBlock:hover,.dashboard .greenBlock:active,.dashboard .greenBlock:focus { background: none repeat scroll 0 0 #008000 !important;}
.dashboard .orangeBlock:hover,.dashboard .orangeBlock:active,.dashboard .orangeBlock:focus { background: none repeat scroll 0 0 #FFA500 !important;}
.dashboard .redBlock:hover,.dashboard .redBlock:active,.dashboard .redBlock:focus { background: none repeat scroll 0 0 #FF0000 !important;}
.detail_text3 h3 {font-size: 17px;}
.start1 {
    background: none repeat scroll 0 0 #007DFD;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin: 0.5em 0;
    padding: 0.7em 1em;
    text-align: center;
}
.start1 {
  font-family: sans-serif;
}
.complete {display: block; background:#008000; font-size: 16px; text-align: center; color: #fff; padding: 0.7em 1em; border-radius: 5px; margin:0.5em 0;}
.uploadbtn, .uploadbtn:hover{padding: 8px;}
.midAreaUpload, .midAreaUpload:hover{ margin: 0 0 0 auto; padding-top: 75px; width: 102%; }
.padding-top{padding-top: 16px;}
.gray_box {background:#565656 url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 97% 50%;opacity: 5; padding: 8px; margin-bottom: 33px}
.gray_box {color:#fff}
.gray_box .fright { float: right;padding-right:5.8% }
.gray_box .fleft {float: left;}
.gray_box small{font-size:13px}
.gray_box h2 {font-size: 25px; margin-bottom: 0px!important;}
.setratesH3 {font-size: 1.3em;}
.setratesCallSelect {padding: 7px 78px;}
.setratesMsgSelect {padding: 7px 72px;}
.detail_text4 h3 {font-size: 16px; margin-left: 5px;}
.earning { padding-top: 8px;}
.earning ul  {padding: 0px}
.earning ul li {display: block}
.earningActive{ background:#e9e9e9!important; color:#333!important;}
.earning ul li a {display: block; color: #333; font-size: 14px; padding: 10px 15px; border-bottom:1px solid #ccc; background:#fff}
.earning ul li a span {width: 50%; display: block;clear: right; min-height: 20px;}
.left {float: left}
.right {float: right; text-align: right}
.price {font-weight: bold; font-size: 25px;}
.valuechange b {background:#4cd964; padding: 5px; border-radius: 3px; display: inline-block; color:white;}
.countrySelect {padding:15px 0; background:#d1d1d6; }
.countrySelect select {text-align: center;}
.unselect {font-weight: bold; font-size: 14px;}
.strip {height: 12px; background:#e9e9e9}
.valuechangeGray b {background:#c3c3c3; color:#fff;}
.datenew{display: block; font-size: 0.85em; }
.buttonMessage{border-radius: 0; display: block; float: left; font-size: 13px; width: 50%;}
.button_select{ overflow: hidden; padding-bottom: -5px; padding-top: 55px;}
.fullwidth_white, .fullwidth_white:hover{background: #fff;color: #000;border-color: #fff;}
.first-text a{color:red;}
.earning ul li a span.valuechangeNEW {width: 15%}
.earningNEW ul li a span {width:40%;}
.earningNEW ul li a span.blank {text-align: center;}

.popup {position: fixed;overflow: hidden; background:#fff; border-radius: 10px; border:2px solid gray; z-index: 99999; width:251px; left:0; right:0; top:30%; margin:auto;}
.popup p { background:#5c1862; height: 25px; }
.popup ul {padding: 0px; margin:0px}
.popup ul li {padding:8px 12px; list-style: none; border-bottom: 1px solid #dedede; font-weight: bold}
.popup ul li a {color:#333; font-weight: bold}


#footer {position: fixed; bottom: 0px; left: 0px; width: 100%; height: 150px}
.margin0 a {margin-bottom: 0px!important}
.footer {background:#f5f5f5; border-top:1px solid #aaa !important;}
.callHistory{height: 47px;}
.blueCallHistory{color: blue; font-weight: normal;}
.redCallHistory{color: red; font-weight: normal;}
.italicCall{ color:#a1a1a1;font-weight:normal; font-style: italic;}
.headCall{ font-size: 1.1em; margin-left:15px; }
.orangeBG b{ background: #ffae00;}
.statsSelect{padding: 48px 0 0!important;}
.currPeriod{height: 40px!important;}
.blockedMessage{font-style: italic; color: #a1a1a1;}
.contact{
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  background: #fff;
}
.contact .image{
  width: 121px;
  float: left;
  /*border: 1px solid;*/
  
}
.contact .image img {
  width: 100%;
  height: auto;
}

.contact .text{
  float: left;
  margin-left: 1.5%;
}
.contact .text h2{
  font-size: 16px;
}
.contact .text p{
  font-size: 13px;
}
.contact .text h2,.contact .text p,.contact .text h6{
  margin-bottom: 5px;
  line-height: .7em;

}
.contact a{
  color:#333;
} 
.contact .text h6{
  color: #B8ACAC;
}

.contact .setting{
  width: 35px;
  float: right;
  border-left: 1px solid #ccc;
  display: table-cell;
  vertical-align: middle;
}
.contact .setting a{
  color: #000;
}
.contact .setting .glyphicon-cog{
  margin-left: 35%;
  min-height:92px;
  padding-top: 85%;

}

.popupContact {
  position: fixed;
  overflow: hidden; 
  background:#fff; 
  border-radius: 10px; 
  border:1px solid #DEDEDE;
  z-index: 99999; 
  width:240px; 
  height: 270px;
  left:0; right:0; 
  top:30%; 
  margin:0 auto;
  font-family: 'Raleway', sans-serif;
}
/*.popupContact{
  width: 240px;
  height: 270px;
  border: 1px solid #DEDEDE;
  border-radius: 10px; 
  font-family: 'Raleway', sans-serif;
  background: #fff;
  margin: 0 auto;
  
}
*/
.popupBlock{
  height:160px !important;
}
.popupContact p{
  text-align:center;
  color: #B8ACAC;
  font-size:15px;
  padding-top: 15px;
}
.popupContact ul{
  margin: 0;
  padding: 0;
}
.popupContact ul li {
  list-style-type: none;
  margin:0 15px 8px 15px;
}

.popupContact ul li a{
  border: 1px solid #5c1862;
  background: #5c1862;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0 10px 0;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.popupContact .glyphicon{
  border: 4px solid  #401144;
  border-radius: 20px;
  background: #401144;
  margin-left: 10px;
}
.popupContact ul li .cancel{
  border: 1px solid #DEDEDE;
  background:#fff;
  display: block;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  color: #000;
  font-weight: bolder;
  text-align: center;
}
.popupContact .cancel .glyphicon{
  border: 4px solid #B2B2B2;
  border-radius: 20px;
  background: #B2B2B2;
  margin-left: 10px;
}

@media screen and (min-width:320px) and (max-width:434px){
  .contact .image {width:93px;}
  .contact .text {width: 184px; overflow: hidden;}
  .contact .text h2 {margin-bottom:5px!important;}
  .contact .setting .glyphicon-cog {min-height:71px}

}
.result_line{
  width: 100%;
  padding-top:5px; 
}
.result_line p{
  float: right;
  font-size: 10px;
  margin-right: 10px;
  font-family: sans-serif;
}
/*.stats ul li a{
  background: url('../img/arrow.png')no-repeat;
  background-position: right 15px center;

}
.stats ul li a span{
  padding-right: 25px;
}*/
.select-padding{ text-align: center;}
/*nanda*/
.img-thumb{
  margin-left: -16px;
  position: relative;
}

.edit-text{
  top: 76px;
  left: -1px;
  border-top-right-radius: 6px;
  position: absolute;
}
#search-basic {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 12px;
  border: none;
  padding: 8px 0 8px 0;
}
.search label{
  margin-top: 17px;
  font-weight: normal;
  font-size:1.3em;
  margin-left: -63px;
}
#search-basic{
  background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2213.701px%22%20height%3D%2213.721px%22%20viewBox%3D%220%200%2013.701%2013.721%22%20style%3D%22enable-background%3Anew%200%200%2013.701%2013.721%3B%22%20%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.021%2C8.626C10.638%2C7.738%2C11%2C6.662%2C11%2C5.5C11%2C2.463%2C8.537%2C0%2C5.5%2C0S0%2C2.463%2C0%2C5.5S2.463%2C11%2C5.5%2C11%20c1.152%2C0%2C2.221-0.356%2C3.105-0.962l3.682%2C3.683l1.414-1.414L10.021%2C8.626z%20M5.5%2C9C3.567%2C9%2C2%2C7.433%2C2%2C5.5S3.567%2C2%2C5.5%2C2S9%2C3.567%2C9%2C5.5%20S7.433%2C9%2C5.5%2C9z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left:30px;
  padding-right:20px;
  opacity: 0.3;
  border: 1px solid #dedede;
}
.popupSearch {
  position: fixed;
  overflow: hidden; 
  background:#fff; 
  border-radius: 10px; 
  border:1px solid #DEDEDE;
  z-index: 99999; 
  width:260px; 
  height: 210px;
  left:0; right:0; 
  top:30%; 
  margin:0 auto;
  font-family: 'Raleway', sans-serif;
}
.popupSearch ul{
  margin: 0;
  padding: 0;
}
.popupSearch ul li{
  list-style: none;
 border-bottom:1px solid #dedede;
 padding: 10px 0 10px 0;
}
.popupSearch ul li a{
  text-decoration: none;
  margin-left: 15px;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}
.opt{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 0 10px 0;
  background: #5c1862;
  
}
.opt a{
  color: #fff !important;
  font-weight: normal !important;
  font-size: 1.1em !important;
}
#arrow-icon{
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 90%;
  opacity: 0.2;
  width: 20px;
  float: right;
  height: 20px;
  display: block;
  margin-right: 15px;
}
#right-arrow{
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 20px;
  float: right;
  height: 20px;
  display: block;
  background-position: 10px;
  opacity: 0.3;
}

/*****************************************************************
  Style Elements
  Created By - Rakesh Pant
  Create On  - 4-Nov-2014
  
*****************************/

/*border*/
.bd-none { border:0 none !important; }
/*Colors*/
.c-white { color:#fff !important; }
.c-black { color:#000 !important; }
.c-blue-gray { color:#4b5767 !important; }

/*Fonts*/
.f-w-100 { font-weight:100; }
.f-w-500 { font-weight:500; }
.f-w-700 { font-weight:700; }
.f-w-900 { font-weight:900; }
.f-12 { font-size:12px !important; }
.f-14 { font-size:14px !important; }
.f-16 { font-size:16px !important; }
.f-18 { font-size:18px !important; }
.f-20 { font-size:20px !important; }
.f-22 { font-size:22px !important; }
.f-24 { font-size:24px !important; }
.f-28 { font-size:28px !important; }

/* Margin */
.marginTop10 { margin-top:10px !important; }
.m-0 { margin:0 !important; }
.m-10 { margin:10px !important; }

.m-l-0 { margin-left:0 !important; }

.m-r-0 { margin-right:0 !important; }

.m-t-0 { margin-top:0 !important; }
.m-t-10 { margin-top:10px !important; }
.m-t-20 { margin-top:20px !important; }

.m-b-0 { margin-bottom:0 !important; }

/* Padding */
.p-0 { padding:0 !important; }
.p-10 { padding:10px !important; }
.p-15 { padding:15px !important; }
.p-20 { padding:20px !important; }

.p-l-0{ padding-left:0 !important; }
.p-l-8 { padding-left:8px !important; }
.p-l-10 { padding-left:10px !important; }

.p-r-0{ padding-right:0 !important; }
.p-r-10 { padding-right:10px !important; }

.p-t-0{ padding-top:0 !important; }
.p-t-10 { padding-top:10px !important; }
.p-t-20 { padding-top:20px !important; }
.p-t-25 { padding-top:25px !important; }

.p-b-0{ padding-bottom:0 !important; }
.p-b-10 { padding-bottom:10px !important; }

/*positions*/
.pos-relative { position:relative !important; }
.pos-absolute { position:absolute !important; }


/*** Middle Content Start ***/

.slider-Container {
  background:#111; 
  min-height:300px; 
  padding:40px 0 20px;    
  cursor:pointer;
  position: relative;
  margin:0 auto;
}
.main-slideImg-Section .img-Frame {
  float:none;
  margin:0px auto;
}
.main-slideImg-Section .img-responsive{
  margin:60px auto;
}

.photos-tally { position:absolute; right:10px; bottom:10px; }
.photos-tally .listing-details-photos-tally {
    background: #222;
    border-radius: 4px;
    color: #fff;
    font-size: 0.9em;
    padding: 5px 10px;
  margin-right:20px;
text-align: right;
}

.listing-description {
  background:#fff;
  padding:20px 4% 0 15px;
  margin:0 0 14px 0;  
}
.listing-description h2.nameTitle { margin-bottom:6px !important; }
.icon-more span.glyphicon {
  cursor:pointer;
  float:none !important;
  margin:20px 0;
  color:#cacaca
}
.save-list-section { background:#E9E9E9; }
.list-dtl {
  font-size:16px;
  padding:12px 0;
  background:#fff;
  border-top:1px solid #dedede;
  border-bottom:1px solid #dedede;  
}
.save-to-contact-box {
  position:relative;
  font-size:15px;
  padding:12px 0;
  margin:20px 0;
  text-align:center;
  cursor:pointer;
  background:#fff;
  border:1px solid #dedede;
/*border-radius */
  border-radius:5px 5px;
  -webkit-border-radius:5px 5px;
  -moz-border-radius:5px 5px;
}
.save-to-contact-box a { color:#111; cursor:pointer; }
.save-to-contact-box .icon { 
  position:absolute;
  top:15px;
  left:15px;
  font-size:14px;
}
.save-to-contact-box .lbl { margin-bottom:0; cursor:pointer; }

/***** Footer Section Elements ****/
.footer-section {
  width:100%;
  position:fixed;
  bottom:0;
  padding:10px 00px;
  border-top: 1px solid #aaa!important;
  background: rgba(247,247,247,.90)!important;
}
.bg-pink-dark { background:#5C1862; }

.footer-section .foot-box {
  text-align:center;
  background:#5C1862;
  margin:2px 0;
}
.footer-section .foot-box a { 
  color:#fff; 
  display:block; 
  padding:14px 0;
  cursor:pointer;
}
.footer-section .foot-box a span {
  width:45px;
  height:36px;
  display:block;
  position:absolute;
  left:0px;
  top:5px;
  text-indent:-99999px;
}
.footer-section .foot-box a .phoneCall {
  background-image: url("../img/interface.png");
  background-repeat: no-repeat;
  background-position: -189px -49px;
}
.footer-section .foot-box a .sendText {
  background-image: url("../img/interface.png");
  background-repeat: no-repeat;
  background-position: 5px -49px; 
}

.width50 {width:48%; float: left; margin:0 1%; position: relative;}

/** Slider-popup-frame **/
.slider-popup-frame {
  width:100%;
  height:100%;
  background:#222;
  position:fixed; 
  z-index:999;
  top:0;
}
.icon-hide {
  width:30px;
  position:absolute;
  top:10px;
  right:10px;
  color:#fff;
  font-size:30px;
  cursor:pointer;
}

/*** angular slider css***/
/*
.slider {
    width: 359px;
    height: 406px;
    overflow: hidden;
    position: relative;
    /*background: #e6e6e6;
    border: 20px solid #FFF;*/
    /*margin-top: 65px;
}

.slide {
    position: absolute;
    top: 15%;
    left: 0;
    right:0;
    height:auto;
    max-width:100%;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
}

.arrow.next:hover {
    opacity: 1;
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

/*.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}
*/
.top_bar {position: absolute; width: 100%; z-index: 99; background: -moz-linear-gradient(top,#303130 0,#000101 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#303130),color-stop(100%,#000101)); opacity: 0.8;}
.top_bar .cross_popup , .top_bar .cross_play ,.top_bar .cross_next, .top_bar .cross_prev {float:left; width: 25%}
.icon_block {width: 44px; height: 44px; margin: 0 auto; text-align: center; padding-top:11px}
.img_block {position: absolute; z-index: 95; }

.slider-bottom { font-weight: bold; color:#fff; padding:15px 0; text-align:center;opacity: 0.8;position:absolute; left: 0px; bottom:0px; width:100%; z-index:999; background: #000;
background: -moz-linear-gradient(top,#303130 0,#000101 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#303130),color-stop(100%,#000101)); }
.img_block {text-align: center; vertical-align: middle;}
.pad0{padding: 0px!important}
.img-Frame {text-align: center;}
.img-Frame img {display: inline-block;}
.bgimage{background-size: cover;  }
.earn a{color:#007aff;}
.midArea a{color:#007aff;}
.img_block ul[rn-carousel] {
width: 400px;
height: 300px;
margin: 0 auto;}
.paidPhoto{background-color:#e9e9e9;}
.msgImgPopup{top:18% !important; max-height: 512px;}
.popup1 {position: fixed;overflow: visible; background:#fff; border:2px solid gray; z-index: 99999; width:251px; left:0; right:0; top:30%; margin:auto;}
.crossPopup{ position:absolute; right:-12px; top:-15px; }
.msgImage{ max-width:100%; height:auto; }
.paginate{padding-top: 0px !important;}
.settings_back{background-image:none!important; opacity: .6; font-size: 16px;font-weight: bold;top: 32%;padding-left: 11px; color: #fff!important;}

.overEdit {background:#020202; opacity: 3; width: 100%; height: 100%; opacity: 0.30; position: absolute; left: 0px; top:0px; z-index: 9999}
.editProfileImg {padding: 0 2%; position: absolute; bottom: 0; width: 97%; z-index: 99999}
.editProfileImg ul {background:#fff; padding: 0px; border-radius: 5px;}
.editProfileImg ul li {list-style: none;}
.editProfileImg ul li a:nth-child(1) {border-bottom:1px solid #BABABA;}
.editProfileImg ul li a {color:#067bff; font-size:18px; display:block; padding:9px 15px; text-align: center;}
.editProfileImg ul.cancel li a {font-weight: bold}
.fullwidth, .fullwidth:hover { font-size: 97%;font-weight: 600;} 
#pro_status{ font-size: 13px; }
.earn .text-center{ font-size: 13px!important;}



@media screen and (max-width:580px) and (min-width:320px) {
.fullwidth, .fullwidth:hover { font-size: 97%; font-weight: 600; } 
 input.css-checkbox[type="checkbox"] + label.css-label {font-size: 13px;} 
}

.detail_text  h2{font-size: 1.3em;}
.detail_text p { font-size: 14px; }
#paymentoption_form h4, #register_form2 h4, #proUpgrade_form h4 { font-size: 1.3em;}
#output_label {font-size: 14px;}
.start, .start1, .complete {font-size: 1.1em !important;}
#terms_label{font-size: 14px;}
.inner_action .btn {border-bottom: 1px solid transparent!important;}
.imgPart{
  padding-top: 40px !important;
}
.padding89{padding-top: 89px!important;}